@import "vars";
html, body{
    background: var(--bg-dark, #2B2F4B);
}

header{
    background-color: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(20px);
}

.header_opened{
    background: #2B2F4B;
    // box-shadow: 0px 2px 15px 0px #21242a;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
}

.languages{
    &__active {
        @media (max-width: 991px) {
            background: #21242A;
            &::before {
                background: #CCC;
            }
            &::after {
                background: url(../images/icon-arrow-down-dark-theme.svg) top center no-repeat;
            }
        }
        &.notavailable {
            border: 1px solid #FF1066;
        }
    }

    &__btn {
        & .long {
            @media (max-width: 991px) {
                color: #707072;

            }
        }
        
    }
    &__links {
        background: #2B2F4B;
        border: 1px solid #21242A;
        & .name {
            color: $gray;
        }

    }
}

.lg-title-block {
    border-bottom: 1px solid #E3E3E3;

    & .title {
        color: #FFF;
    }
    & .lg-close svg path{
        stroke: #fff;
    }
}

.nav-tabs .lg-abc-item{
    color: #FFF;
    background: #2B2F4B;
    &:hover {
        background: #22253b;
        border: 1px solid rgba(245, 248, 255, 1);
    }
    &.active {
        border: 1px solid #E3E3E3;
    }
    & sup {
        color: #FFF;

    }
}

.languages-link {

    & .short {

        color: #FFF;

    }

    & .long {
        color: #FFF;

    }
    &.active {
        border: 1px solid #E3E3E3;
    }
    &:hover {
        background: #22253b;
        // transition: 0.5s;
        & span {
            color: #fff;
            // transition: 0.5s;
            body.dark-theme & {
                color: $white;
            }
        }
    }
}

.top-header-logo svg path, .footer_left_part svg path{
    fill: #FFF;
}

.menu-block ul li a, .mobile_links ul li a {
    color: #FFF;
}

.btn-dark{
    background: #FFF;
    color: #000;
}

.sun path{
    fill: #5A618A;
}
.moon path{
    fill: #FFF;
}

.news_nav_row{
    box-shadow: none;
}

.title, .footer_title{
    color: #FFF;
}
.recent, .project_news, .videos{
    // opacity: 0.7;
    // background: #EBF1FF;
    background: #242734;
}



.grid_item{
    background: #2D3340;
}

.grid_title{
    color: #FFF;
    
}

.grid_text{
    color: #CCC;
    
}

.media_item{
    
    border: 1px solid #585858;

    background: #2D3340;

    backdrop-filter: blur(15px);
}
.media_item svg path{
    fill: #CCCCCC;
}

.grid_time{
    color: #24A8DB;
}

.news_text{
    color: #CCC;
  }

.news_title{
    color: #FFF;
  }

.blue_text{
    color: #24A8DB!important;
}

.input_email{
    
   
}
.footer_input{

    border: 1px solid #585858;
    background: #FFF;
}

.theme_slider{

    .slider{
        border: 1px solid rgba(0, 0, 0, 0.15);
        background: #21242A;
    }
    .slider::before {
        background-color: #FFF;
      }
}

.select_theme{
    // background-repeat: no-repeat;
    // background-position: 10%;
    // background-image: url(../images/news/dark_svg.svg) left top no-repeat, url(../images/news/select_arrow.svg) right top no-repeat;
    background: url(../images/news/dark_svg.svg) 10% center no-repeat, url(../images/news/select_arrow.svg) 90% center no-repeat;
    background-color: #2B2F4B;
    color: #FFF;
}

.full_new{
    color: #FFF;
}

.full_new p{
    color: #FFF;
}

.grey_text{
    color: #CBCBCB!important;
}

.never_text{
    color:  #FFF;
    text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.30);
}

.never_wrap{
    background: var(--blockbg-dark, #21242A);
    backdrop-filter: blur(2px);

}

.btn_gradient, .btn-light{
    background: #FFF;
    color: #000;
    border: 1px solid #FFF;
    
    &:hover {
        background: transparent;
        border: 1px solid #FFF;
        color: #FFF;
    }
}

.leave_request_btn{
    &:hover {
        background: $accent;
        border: 1px solid $accent;
        color: $white;
    }
}

.pagination{
    
    button:hover svg path{
        stroke: #FFF;
    }
    button:hover svg circle{
        fill: #2546FF;
    }
}