@import "vars";
.recent, .project_news, .videos, .related_news, .latest{
    // opacity: 0.7;
    // background: #EBF1FF;
    backdrop-filter: blur(3px);
    background: #E6F4FE;


}
header{
    backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.24);
}

.header_opened{
    background: #fff;
    // box-shadow: 0px 2px 15px 0px #ebf1ff;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
    

}
.related_news, .latest{
    background: #EBF1FF;
    backdrop-filter: blur(6.5px);
}

// .recent::before, .project_news::before, .videos::before{
//     content: ' ';
//     display: block;
//     position: absolute;
//     opacity: 0.7;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     z-index: -1;
//     opacity: 0.6;
//     background: #EBF1FF;
//     background-image: url('../images/news/bg ellipses.svg');
//     background-repeat: no-repeat;
//     background-position: 50% 0;
//     background-size: cover;
// }
// .project_news::before{
//     background-image: url(../images/news/project_news_bg.png);
// }
// .videos::before{
//     background-image: url(../images/news/videow_bg1.png);
// }

.big_new{
    background: url(../images/news/big_new_bg.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.menu-block ul li a, .mobile_links ul li a{
    color: #373737;
}
.grid_item{
    background: #fff;
}

.grid_title{
    color: #000;
}

.grid_text{
    color: #373737;
}

.media_item{
    border: 1px solid #E3E3E3;

    background: #FFF;

    backdrop-filter: blur(15px);
}

.grid_time{
    color: #2546FF;
}

.news_text{
    color: #000;
  }

.news_title{
    color: #000;
  }

.blue_text{
    color: #2546FF;
}

.input_email{
    
   
}
.footer_input{
    
    border: 1px solid #D4D4D4;
    background: #F1F6FF;
}

.theme_slider{

    .slider{
        border: 1px solid rgba(0, 0, 0, 0.15);
        background: #FFF;
    }
    .slider::before {
        background-color: rgba(0, 0, 0, 0.15);
      }
}

.select_theme{
    background-image: url(../images/news/light_svg.svg);
    color: #1D1D1D;
}

.never_text{
    color: #787878;
    text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.30);
}

.before_footer{
    background: #D9EEFF;
}

.never_wrap{
    background: rgba(255, 255, 255, 0.70);
    backdrop-filter: blur(2px);

}